header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px;
  }
  
  .left-section h1 {
    margin: 0;
  }
  
  .right-section nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .right-section nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .right-section nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  .right-section nav ul li a:hover {
    cursor: pointer;
    color: #ffffff;
  }
  
  .main-text {
    font-size: 20px;
    color: white;
  }
  
  body{
    font-family: "Cyber", sans-serif;
    background-color: black;
  }
  
  /* Window */
  
  .Script {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .Script-content {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid white;
    width: 80%;
    border-radius: 10px;
  }
  
  .Game {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .Game-content {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid white;
    width: 40%;
    height: 50%;
    border-radius: 10px;
  }
  
  .games {
    color: white;
    white-space: pre-line;
  }
  
  .games div {
    height: 5px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .text-container {
    display: flex;
    align-items: center;
  }
  
  .script {
    margin-right: 10px;
    color: #ffffff;
  }
  
  .copy-button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .copy-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }